html, body { 
height: 100%; 
width: 100%; 
}

@font-face {
	font-family: hng;
	src: url('img/space_harrier.ttf');
}

body {
background:#870000;
margin:0;
padding:0;
text-align:center;
}

#containerindx {
	margin:0 auto;
	width:700px;
	height:700px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-350px;	
	margin-top:-400px;
	text-align:center;
	font-family: hng, Lucida Console, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

b {
	font-weight: normal;
	color: #FFAAAA;
}

a {
	color: #FFAAAA;
}

p {
	margin: 2em 0 0 0;
}

.lt {
  text-align: left;
margin: 0 0 0 0;
}

.rt {
  text-align: right;
  color: #FFAAAA;
margin: 0 0 0 0;
}

h1.logo {
width:360px;
height:360px;
background: url('img/iconfilled2.png') no-repeat;
text-indent: -9999px;
margin:0px auto 0px auto;
}