body {
	background:#000000;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
    width: 100%;
}

img {
	width:100%;
	margin-top: -1.28em;
	margin-bottom: -1.28em;
	
}

container {
	position: absolute;
	top: 0;
}

svg {
	display: block;
}

::-webkit-scrollbar { 
    display: none; 
}